In [1]:
!pip install lxml

!pip install html5lib

!pip install BeautifulSoup4

import html5lib

import lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)
Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.12.0)
Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (1.9.3)

In [2]:
import BeautifulSoup

ModuleNotFoundError: No module named 'BeautifulSoup'

In [3]:
from bs4 import BeautifulSoup

In [4]:
import requests
import pandas as pd 
import numpy as np

In [7]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source,'lxml')
table = soup.find('table',class_="wikitable sortable")
#print (table.prettify())
table_rows=table.find_all('tr')
res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)


df = pd.DataFrame(res, columns=["postal_code", "borough", "neighbourhood"])

In [8]:
df.drop(df[df['borough']=="Not assigned"].index , axis=0 , inplace=True)
df=df.groupby("postal_code").agg(lambda x:', '.join(set(x))).reset_index()
df['neighbourhood'].replace('Not assigned', "Queen's Park", inplace=True)
df.head(10)

  postal_code      borough                                    neighbourhood
0         M1B  Scarborough                                   Malvern, Rouge
1         M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough                Morningside, Guildwood, West Hill
3         M1G  Scarborough                                           Woburn
4         M1H  Scarborough                                        Cedarbrae
5         M1J  Scarborough                              Scarborough Village
6         M1K  Scarborough      Ionview, Kennedy Park, East Birchmount Park
7         M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8         M1M  Scarborough  Cliffside, Scarborough Village West, Cliffcrest
9         M1N  Scarborough                      Cliffside West, Birch Cliff

In [9]:
df.shape

(103, 3)

In [10]:
geo_df=pd.read_csv('https://cocl.us/Geospatial_data')
geo_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [11]:
df['Latitude']=geo_df['Latitude'].values
df['Longitude']=geo_df['Longitude'].values

df.head()

,postal_code,borough,neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Morningside, Guildwood, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476