# Segmenting and Clustering Neighborhoods in Toronto

In [ ]:
!pip install lxml

!pip install html5lib

!pip install BeautifulSoup4

import html5lib

import lxml

In [ ]:
import BeautifulSoup

In [ ]:
from bs4 import BeautifulSoup

In [4]:
import requests
import pandas as pd 
import numpy as np

In [5]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source,'lxml')
table = soup.find('table',class_="wikitable sortable")
#print (table.prettify())
table_rows=table.find_all('tr')
res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)


df = pd.DataFrame(res, columns=["postal_code", "borough", "neighbourhood"])



df.head(10)

  postal_code           borough     neighbourhood
0         M1A      Not assigned      Not assigned
1         M2A      Not assigned      Not assigned
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M5A  Downtown Toronto       Regent Park
6         M6A        North York  Lawrence Heights
7         M6A        North York    Lawrence Manor
8         M7A      Queen's Park      Not assigned
9         M8A      Not assigned      Not assigned

In [6]:
df.drop(df[df['borough']=="Not assigned"].index , axis=0 , inplace=True)
df=df.groupby("postal_code").agg(lambda x:', '.join(set(x)))

df.head(10)

                 borough                                    neighbourhood
postal_code
M1B          Scarborough                                   Malvern, Rouge
M1C          Scarborough           Highland Creek, Rouge Hill, Port Union
M1E          Scarborough                Morningside, Guildwood, West Hill
M1G          Scarborough                                           Woburn
M1H          Scarborough                                        Cedarbrae
M1J          Scarborough                              Scarborough Village
M1K          Scarborough      Ionview, Kennedy Park, East Birchmount Park
M1L          Scarborough                  Golden Mile, Clairlea, Oakridge
M1M          Scarborough  Cliffside, Scarborough Village West, Cliffcrest
M1N          Scarborough                      Cliffside West, Birch Cliff

In [7]:
df['neighbourhood'].replace('Not assigned', "Queen's Park", inplace=True)
df.head(10)

                 borough                                    neighbourhood
postal_code
M1B          Scarborough                                   Malvern, Rouge
M1C          Scarborough           Highland Creek, Rouge Hill, Port Union
M1E          Scarborough                Morningside, Guildwood, West Hill
M1G          Scarborough                                           Woburn
M1H          Scarborough                                        Cedarbrae
M1J          Scarborough                              Scarborough Village
M1K          Scarborough      Ionview, Kennedy Park, East Birchmount Park
M1L          Scarborough                  Golden Mile, Clairlea, Oakridge
M1M          Scarborough  Cliffside, Scarborough Village West, Cliffcrest
M1N          Scarborough                      Cliffside West, Birch Cliff

In [8]:
df.shape

(103, 2)

In [9]:
geo_df=pd.read_csv('https://cocl.us/Geospatial_data')
geo_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [12]:
df['Latitude']=geo_df['Latitude'].values
df['Longitude']=geo_df['Longitude'].values

df

,borough,neighbourhood,Latitude,Longitude
postal_code,,,,
M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
M1E,Scarborough,"Morningside, Guildwood, West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...
M9N,York,Weston,43.706876,-79.518188
M9P,Etobicoke,Westmount,43.696319,-79.532242
M9R,Etobicoke,"Richview Gardens, Kingsview Village, St. Phill...",43.688905,-79.554724
M9V,Etobicoke,"Mount Olive, South Steeles, Thistletown, Silve...",43.739416,-79.588437
M9W,Etobicoke,Northwest,43.706748,-79.594054